@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Play:wght@400;700&family=Rubik+Dirt&display=swap");

article {
  border-left: 3px solid white;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #51895d;
}

article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.home {
  display: flex;
}

.main-display {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90vw;
}


.password {
  color: #51895d;
  padding-bottom: 1em;
  user-select: none;
}

.hide-button {
  user-select: none;
}

#hide-password {
  display: none;
}

#hide-password:checked ~ .password {
  color: white;
}

/****************************************************** Media querries *****************************************************/

@media screen and (max-width: 480px) {
  article {
    flex-wrap: nowrap;
    height: 60vh;
  }

  .vitrine {
    width: 90%;
    margin: 0;
  }

  .main-display {
    width: 100%;
  }

  .images-article {
    width: 100%;
  }

  h3 {
    display: block;
    columns: white;
  }

  footer {
    height: 31vh;
  }
}
