@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Play:wght@400;700&family=Rubik+Dirt&display=swap");

.home {
  display: flex;
}

.button-admin {
  margin-right: 1em;
  border: 0.1em solid #51895d;
  border-radius: 2em;
  background-color: #ffffff;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.button-admin:hover {
  cursor: pointer;
  background-color: #51895d;
  color: white;
  border: 0.1em solid #ffffff;
}

.main-display {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
}

.main-display .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
  padding: 3em 0 3em 0;
}

.main-display .wrapper .product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3em;
  margin: 1em 2em 1em 2em;
  padding: 0 2em 0 2em;
  background-color: #e0cda9;
}

.main-display .wrapper .product img {
  height: 8em;
  width: 8em;
}

.main-display .wrapper .product .details {
  width: 70%;
}

.main-display .wrapper .product .details p {
  padding: 2em;
}

.main-display .wrapper .product .wrapperButton {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  margin-right: 1em;
  border: 0.1em solid #51895d;
  border-radius: 2em;
  background-color: #ffffff;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

button:hover {
  cursor: pointer;
  background-color: #51895d;
  color: white;
  border: 0.1em solid #ffffff;
}

@media screen and (max-width: 760px) {
  .main-display .wrapper .product .details {
    margin-right: 2em;
  }

  .main-display .wrapper .product .details p {
    height: 5em;
    padding: 0;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    margin-right: 2em;
  }

  .main-display {
    width: 100%;
  }

  .main-display .wrapper .product .wrapperButton {
    display: none;
  }

  .button-admin {
    display: none;
  }
  
}
