.home {
    display: flex;
}

.main-display {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.wrapperImage {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagePair {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacement entre les paires d'images */
}

.image {
    margin-right: 20px; /* Espacement entre les images dans une paire */
}

.image:last-child {
    margin-right: 0; /* Pour supprimer la marge à droite de la dernière image */
}

.image img {
    max-width: 100%; /* Pour s'assurer que les images ne dépassent pas de leur conteneur */
}
