article {
    display: flex;
    flex-wrap: wrap;
    height: 55vh;
    background-color: black;
    overflow: scroll;
    scrollbar-width: none;
    justify-content: center;
}

.images-article {
    height: 50vh;
    margin: 1em;
    width: 20vw;
}

.home {
    display: flex;
}

.main-display {
    display: flex;
    flex-direction: column;
    width: 90vw;
}