@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Play:wght@400;700&family=Rubik+Dirt&display=swap");

article {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  background-color: black;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: center;
}

.images-article {
  height: 55vh;
  margin: 1em;
  width: 25vw;
}

.home {
  display: flex;
}

.main-display {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.vitrine {
  color: white;
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 0 1em 1em 1em;
  align-items: center;
}

p {
  text-align: justify;
}

h2 {
  margin-bottom: 0.5em;
  color: #51895d;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 500;
}

.article-button {
  background-color: #51895d;
  color: white;
  padding: 1em;
  margin-top: 1em;
  border: none;
}

.article-button:hover {
  cursor: pointer;
}

/****************************************************** Media querries *****************************************************/

@media screen and (max-width: 480px) {

    article {
        flex-wrap: nowrap;
        height: auto;
    }

    .vitrine {
        width: 90%;
        margin: 0;
    }

    .main-display {
        width: 100%;
    }

    .images-article {
        width: 100%;
    }
}