@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Play:wght@400;700&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.logo_matcha_tea {
  height: 20vh;
}

h1 {
  color: #51895d;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 500;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
  height: 90vh;
  width: 10vw;
  background-color: #51895d;
  writing-mode: vertical-lr;
}

.navbar a {
  color: white;
  text-decoration: none;
  transform: rotate(180deg);
}

.navbar a:hover {
  text-decoration: underline white;
  border-radius: 2em;
}

footer {
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.navbar-footer a:hover {
  text-decoration: underline;
}

.navbar-footer a {
  text-decoration: none;
  color: black;
}

.navbar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-left: 5em;
}

.border-frame {
  margin-top: 1em;
  display: flex;
  gap: 2em;
  border: 0.1em solid #51895d;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.contact-button {
  border: 0.1em solid #51895d;
  border-radius: 2em;
  background-color: #ffffff;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}

.contact-button:visited {
  text-decoration: none;
  color: black;
}

.contact-button:hover {
  cursor: pointer;
  background-color: #51895d;
  color: white;
  border: 0.1em solid #ffffff;
}

.coords {
  display: flex;
  flex-direction: column;
  padding-right: 5em;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-bottom: 1em;
}

p,
a {
  font-family: "Play", sans-serif;
}



@media screen and (max-width: 480px) {
    header {
        display: none;
    }

    .navbar-footer {
        padding-left: 0;
    }

    .coords {
        padding-right: 0;
    }

    .navbar {
        width: 100%;
        height: 100%;
        padding: 1em 0;
        gap: 1.5em;
        writing-mode: horizontal-tb;
    }

    .home {
        flex-direction: column;
    }

    .navbar a {
        transform: none;
    }

    article {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: 100%;
        padding-bottom: 2em;
    }

    .navbar-footer {
        display: none;
    }

    .border-frame {
        border: none;
        padding: 0;
        gap: 0.5em;
        margin-top: 0;
    }

    footer {
        gap: 0.5em;
        flex-direction: column;
        height: auto;
        padding: 0.5em;
        background-color: #51895d;
        color: white;
    }

    h3 {
        display: none;
    }

}