@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Play:wght@400;700&family=Rubik+Dirt&display=swap");
header h1 {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 500;
}

article {
  display: flex;
  flex-wrap: wrap;
  height: 63vh;
  background-color: rgb(0, 0, 0);
  overflow: scroll;
  scrollbar-width: none;
  justify-content: center;
}

nav a {
  font-family: "Play", sans-serif;
}

article .card {
  margin: 1em 0.5em 0.5em 0.5em;
  width: calc(100% / 3 - 1.5em);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article .card .description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 8em;
  color: white;
}

article .card .description .title {
  margin-bottom: 0.5em;
}

article .card .description a {
  display: flex;
  justify-content: center;
  width: 150%;
  text-decoration: none;
}

article .card .description a button {
  height: 3em;
  width: 80%;
  background-color: #51895d;
  color: white;
  text-decoration: none;
  border: none;
}

article .card .description a button:hover {
  cursor: pointer;
}

.images-article {
  height: 75%;
  width: 75%;
  object-fit: cover;
}

.home {
  display: flex;
}

.main-display {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

@media screen and (max-width: 480px) {
  article {
    height: auto;
  }

  .vitrine {
    width: 90%;
    margin: 0;
  }

  .main-display {
    width: 100%;
  }

  .images-article {
    width: 90%;
  }
}
