@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Ojuju:wght@200..800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Play:wght@400;700&family=Rubik+Dirt&display=swap");
header h1 {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 500;
}

article {
  display: flex;
  flex-wrap: wrap;
  height: 55vh;
  background-color: black;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: center;
}

nav a {
  font-family: "Play", sans-serif;
}

.images-article {
  margin: 1em 0.5em;
  height: 50vh;
  width: 25vw;
  object-fit: cover;
}

.home {
  display: flex;
}

.main-display {
  display: flex;
  flex-direction: column;
  width: 90vw;
}
